.page {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 480px;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow:
    0 4px 8px -5px rgb(0 0 0 / 12%),
    0 8px 21px 0 rgb(0 0 0 / 8%),
    0 12px 37px 11px rgb(0 0 0 / 5%);
  transform: translateX(-50%);
}
