# registry = "https://registry.npmmirror.com"
engine-strict = true
package-manager = pnpm@10.29.2
registry=http://218.245.101.63:8081/repository/npm-group/
@company:registry=http://218.245.101.63:8081/repository/npm-hosted/
