.img {
  width: 90px;
  height: 90px;
}

.dialog-desc {
  font-family: PingFangSC, 'PingFang SC';
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.dialog-text {
  font-family: PingFangSC, 'PingFang SC';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--sub-text);
  text-align: center;
}
